---
title: Intromech
layout: base.ejs
pagination:
    data: articles
    size: 12
    alias: article
---

<div class="page-name-container"></div>
<div class="container articles-container">
    <div class="page-name"><h1>Blog</h1></div>
        <div class="row text-center">
    <% article.forEach(article => { %>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="<%=article.img%>" class="card-img-top" alt="<%=article.imgName%>" width="640" height="280">
                    <div class="card-body">
                      <h5 class="card-title"><%=article.title%></h5>
                      <a href="/show/<%=article.slug%>" class="btn btn-primary">Read</a>
                    </div>
                  </div>
            </div>
    <%})%>
        </div>
</div>



<div class="container text-center pagination-buttons">
    <a href="<%=pagination.previous%>" class="btn btn-secondary">Previous</a>
    <a href="/blog/<%=pagination.pageNumber%>">Page <%=pagination.pageNumber%></a>
    <a href="<%=pagination.next%>" class="btn btn-secondary">Next</a>
</div>
    



