---
title: Show
layout: base.ejs
pagination:
    data: articles
    size: 1
    alias: article
permalink: /show/<%=article.slug%>/index.html
---


<div class="page-name-container"><img class="show-img" src="<%=article.img%>" alt="<%=article.imgName%>"></div>
<div class="container articles-container">
    <div class="page-name"><h1><%=article.title%></h1></div>
        <main class="row">
            <article class="show-article col-sm-12 col-md-12 col-lg-10"><%-article.content%></article>
        </main>
</div>
